#compose-master {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.compose-parent {
    background-image: linear-gradient(to right, #122B3D, rgb(30, 75, 100));
    box-shadow: -5px 3px 10px 7px rgb(75, 75, 75, 0.75);
    width: 75%;
    border-radius: 5px;
    color: white;
    display: flex;
}

#p-text {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line: underline;
}

.new-post {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}

#text-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#text-area {
    height: 50vh;
    max-width: 90%;
    margin-top: 10px;
}


.compose-inputs {
    width: 75%;
    border: 1px solid white;
    height: 2em;
}

#submit-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-btn {
    margin: 10px;
    width: 50%;
}
#submit-btn:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225, 0.75);
    box-shadow: 5px 1px 5px 5px rgb(18, 43, 61, 0.75);
}